<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a folder</h1>
    <h2><%- name %></h2>
    <h3>Contact</h3>
    <body>
        <form action="backend.php">
            <label for="name">Name</label>
          <div>
             <input type="text" name:"" id="name" value="<%- name %>">
          </div>
          <br />
          <div>
            Roll_no: <input type="text" name:"myRoll_no" value="<%- Roll_no %>">">
          </div>
          <br />
          <label for="email">Email</label>
          <div>
            <input type="email" name="myEmail" id="email" value="<%- email %>">">
          </div>
         
          
</body>
</html>